{% load static %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Django Tutorial blog</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Arvo" />
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap " />
        <link rel="shortcut icon" href="{% static 'images/privacy.png' %}" />
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        {% if messages %}
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        {% endif %}

        <header>
            <div>
                <a class = "logo" href="/">
                    <img src = "{% static 'images/privacy.png' %}"></ing>
                </a>
            </div>

            <nav>
                <ul class = "nav__links">
                    {% if user.is_authenticated %}
                        <li><a href = "{% url 'post_new' %}"><span class="glyphicon glyphicon-plus"></span> New post</a></li>
                        <li><a href = "{% url 'profile_page' %}"><span class="glyphicon glyphicon-user"></span> {{user.username}}</a></li>
                        <li><a href = "{% url 'logout' %}"><button class = 'logout__button'>Logout</button></a></li>
                    {% endif %}
                </ul>
            </nav>

            {% if not user.is_authenticated %}
                <div class = "login">
                    <a href="{% url 'login' %}"><button class = "login__button" >Login</button></a>
                </div>
            {% endif %}
        </header>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>

        <footer>
            <div class="main-content">
              <div class="left box">
                <h2>About us</h2>
                <div class="content">
                  <p>CodinNepal is a YouTube channel where you can learn web designing, web development, ui/ux designing, html css tutorial, hover animation and effects, javascript and jquery tutorial and related so on.</p>
                  <div class="social">
                    <a href="https://www.facebook.com/stoica.daniel.9634/" target="_blank"><span class="fab fa-facebook-f"></span></a>
                    <a href="https://twitter.com/danny3l23t" target="_blank"><span class="fab fa-twitter"></span></a>
                    <a href="https://www.instagram.com/stoik__/?hl=en" target="_blank"><span class="fab fa-instagram"></span></a>
                    <a href="https://www.youtube.com/channel/UChYZQDZsks9Q35P47VutqCQ?view_as=subscriber" target="_blank"><span class="fab fa-youtube"></span></a>
                  </div>
                </div>
              </div>
      
              <div class="center box">
                <h2>Address</h2>
                <div class="content">
                  <div class="place">
                    <span class="fas fa-map-marker-alt"></span>
                    <span class="text">Birmingham, United Kingdom</span>
                  </div>
                  <div class="phone">
                    <span class="fas fa-phone"></span>
                    <span class="text">07777777777</span>
                  </div>
                  <div class="email">
                    <span class="fas fa-envelope"></span>
                    <span class="text">dxs977@student.bham.ac.uk</span>
                  </div>
                </div>
              </div>
      
              <div class="right box">
                <h2>Contact us</h2>
                <div class="content">
                  <form action="#">
                    <div class="email">
                      <div class="text">Email *</div>
                      <input type="email" required>
                    </div>
                    <div class="msg">
                      <div class="text">Message *</div>
                      <textarea rows="2" cols="25" required></textarea>
                    </div>
                    <div class="send_btn">
                      <button type="submit">Send</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="bottom">
              <center>
                <span class="credit">Created By <a href="http://dxs977.pythonanywhere.com">Daniel</a> | </span>
                <span class="far fa-copyright"></span><span> 2020 All rights reserved.</span>
              </center>
            </div>
          </footer>
        
    </body>
</html>