{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="post">
        <h1>Post details</h1>
        <div class = "padding">
            {% if user == post.author or user.is_superuser %}
                <a href="{% url 'post_edit' pk=post.pk %}" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></a>
                <a href="{% url 'confirm_delete' pk=post.pk %}" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></a>
            {% endif %}
        </div>

        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        

        <div>
            <div class = "inline_stuff">
                <h2 class = "post_title">
                    {{ post.title }}
                </h2>
            </div>
            
            <a class = "inline_stuff" href = "{% url 'profile_page' %}">
                <p class = "author">
                    @{{ post.author }}
                </p>
            </a>
        </div>
           
        <div class= "post_text">
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
        
    </div>
    
    <hr>

    <h1>Comments: </h1>
    {% for comment in post.comments.all %}
        {% if user.is_superuser or comment.approved_comment %}
        <div class="comment">
            <div class="date">
                {{ comment.created_date }}
                {% if user.is_authenticated %}
                    {% if user.username == comment.author or user.is_superuser%}
                        <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-trash"></span></a>
                    {% endif %}
                {% endif %}
                {% if not comment.approved_comment %}
                    {% if user.is_superuser %}
                        <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
                    {% endif %}
                {% endif %}

            </div>
            <strong>Comment from @{{ comment.author }}</strong>
            <p>{{ comment.text|linebreaks }}</p>
        </div>
        {% elif not comment.approve_comment and user.username == comment.author %}
            <p>Your comment is being reviewed by one of our admins!</p>
        {% endif %}
    {% empty %}
        <p>No comments here yet!</p>
    {% endfor %}

    <hr>

    {% if user.is_authenticated %}
        <h1>New comment</h1>
        <form method="POST" class="post-form">{% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="save btn btn-success">Send</button>
        </form>
    {% endif %}
{% endblock %}