{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        <h1>Post details</h1>
        <div class = "padding">
            {% if user.is_authenticated %}
                <a href="{% url 'post_edit' pk=post.pk %}" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></a>
                <a href="{% url 'confirm_delete' pk=post.pk %}" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></a>
            {% endif %}
        </div>

        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        

        <div>
            <div class = "inline_stuff">
                <div class = "post_title"> 
                    <h2>
                        {{ post.title }}
                    </h2>
                </div>
            </div>
            
            <div class = "inline_stuff">
                <div class = "author">
                    <p>@{{ post.author }}</p>
                </div>
            </div>
        </div>
           
        <div class= "post_text">
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
        
    </div>
    
    <hr>

    <h1>Comments: </h1>
    {% for comment in post.comments.all %}
        {% if user.is_authenticated or comment.approved_comment %}
        <div class="comment">
            <div class="date">
                {{ comment.created_date }}
                {% if user.is_authenticated %}
                    <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-trash"></span></a>
                {% endif %}
                {% if not comment.approved_comment %}
                    <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
                {% endif %}
            </div>
            <strong>Comment from @{{ comment.author }}</strong>
            <p>{{ comment.text|linebreaks }}</p>
        </div>
        {% endif %}
    {% empty %}
        <p>No comments here yet!</p>
    {% endfor %}

    <hr>

    {% if user.is_authenticated %}
        <h1>New comment</h1>
        <form method="POST" class="post-form">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="save btn btn-default">Send</button>
        </form>
    {% endif %}
{% endblock %}